body{
    background-color: aquamarine;
    /*background-image: url(mbai.jpg);*/
    background-image: url(didier.jpg);
    background-repeat: no-repeat ;
    background-position: left top;
    


}
#p3{
    
}